<!-- ==============================================
ABOUT
=============================================== -->
<section id="about">

  <div class="container">

    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 scrollimation fade-right">
        <img class="img-responsive img-circle img-center" src="images/about.jpg" alt="">
      </div>
      <div class="col-sm-6 col-sm-offset-1 scrollimation fade-left">
        <h1>Hello, Nice to Meet You...</h1>
        <p class="lead">I am Erica Parker, a twenty six year old designer from NJ. I have graduated with a Bachelor of Fine Arts degree concentrating in Graphic Design, from Monmouth University.</p>
        <p>I'm a designer who has an extreme love for typography and how type functions in our every-day lives. I love experimenting with various textures to manifest different artistic styles. I am always pushing the boundaries and trying to manifest fresh artistic aesthetics while keeping my offbeat flare in the design.</p>
        <a href="#portfolio" class="btn btn-theme transparent scrollto">View my Works</a>
      </div>
    </div><!--End row -->

  </div><!--End container -->

</section><!--End about section -->
