<!-- ==============================================
ABOUT
=============================================== -->
<section id="about">

  <div class="container">

    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 scrollimation fade-right">
        <img class="img-responsive img-circle img-center" src="images/about.jpg" alt="">
      </div>
      <div class="col-sm-6 col-sm-offset-1 scrollimation fade-left">
        <h1>Hello, I am John Doe...</h1>
        <p>I'm a user interface designer living in <a href="https://goo.gl/maps/xWD2R" target="_blank">San Francisco, California</a>. I have worked with companies like <a href="#somelink">This Company</a> and <a href="#somelink">That Company</a> and currently working as a lead designer at <a href="#somelink">MyCompany.com</a>.<br/>Creating is not just a job for me, it's a passion. </p>
        <a href="#portfolio" class="btn btn-theme transparent scrollto">View my Works</a>
      </div>
    </div><!--End row -->

  </div><!--End container -->

</section><!--End about section -->
