<!-- ==============================================
SERVICES
=============================================== -->
<section id="services">

  <div class="container">

    <h1 class="section-title scrollimation scale-in">What I Do <span>and </span>Love<i class="fa fa-cogs"></i></h1>

    <div class="col-lg-4 text-center scrollimation fade-right">
      <div class="icon-wrap">
        <i class="fa fa-crop icon-hover"></i>
      </div>
      <h3>Graphic Design</h3>
    </div>

    <div class="col-lg-4 text-center scrollimation scale-in">
      <div class="icon-wrap">
        <i class="fa fa-code icon-hover"></i>
      </div>
      <h3>Web Design</h3>
    </div>

    <div class="col-lg-4 text-center scrollimation fade-left">
      <div class="icon-wrap">
        <i class="fa fa-text-height icon-hover"></i>
      </div>
      <h3>Branding</h3>
    </div>

  </div><!--End container -->

</section><!--End services section-->