<!-- ==============================================
SERVICES
=============================================== -->
<section id="services">

  <div class="container">

    <h1 class="section-title scrollimation scale-in">What I Do <span>and </span>Love<i class="fa fa-cogs"></i></h1>

    <div class="col-lg-4 text-center scrollimation fade-right">
      <div class="icon-wrap">
        <i class="fa fa-crop icon-hover"></i>
      </div>
      <h3>Graphic Design</h3>
      /ˈɡræfɪk dɪˈzaɪn/
      <br>
      <p>the art or profession of visual communication that combines images, words, and ideas to convey information to an audience, especially to produce a specific effect.</pr>
    </div>

    <div class="col-lg-4 text-center scrollimation scale-in">
      <div class="icon-wrap">
        <i class="fa fa-code icon-hover"></i>
      </div>
      <h3>Web Design</h3>
      /web dɪˈzaɪn/
      <br>
      <p>encompasses many different skills and disciplines in the production and maintenance of websites. The different areas of web design include web graphic design; interface design; authoring, including standardised code and proprietary software; user experience design; and search engine optimization.</pr>
    </div>

    <div class="col-lg-4 text-center scrollimation fade-left">
      <div class="icon-wrap">
        <i class="fa fa-text-height icon-hover"></i>
      </div>
      <h3>Branding</h3>
      /ˈbrændɪŋ/
      <br>
      <p>is the marketing practice of creating a name, symbol or design that identifies and differentiates a product from other products. An effective brand strategy gives you a major edge in increasingly competitive markets.</pr>
    </div>

  </div><!--End container -->

</section><!--End services section-->