<!-- ==============================================
FOOTER
=============================================== -->
<footer id="main-footer">

  <div class="container">

    <div class="row">

      <div class="col-sm-6 left-col">
        <h1 class="small-logo">JOHN DOE<br><span>UI Designer</span></h1>
        <ul class="footer-nav">
          <li><a class="scrollto" href="#home">Home</a></li>
          <li><a class="scrollto" href="#services">Services</a></li>
          <li><a class="scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="scrollto" href="#contact">Contact</a></li>
        </ul>
        <p>&copy;Copyright 2013 / All Rights Reserved</p>
      </div>

      <div class="col-sm-6 right-col">
        <h2>Who Am I?</h2>
        <p>I am an enthusiast who enjoys online digital and offline world. I make high quality graphics and clean html5 and css3 codes. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula.</p>
      </div>

    </div><!-- End row -->

  </div><!-- End container -->

</footer><!-- End footer -->
