<!-- ==============================================
FOOTER
=============================================== -->
<footer id="main-footer">

  <div class="container">

    <div class="row">

      <div class="col-sm-6 left-col">
        <h1 class="small-logo">ERICA PARKER<br><span>Graphic Designer</span></h1>
        <ul class="footer-nav">
          <li><a class="scrollto" href="#home">Home</a></li>
          <li><a class="scrollto" href="#services">What I Do</a></li>
          <li><a class="scrollto" href="#portfolio">My Works</a></li>
          <li><a class="scrollto" href="#contact">Contact Me</a></li>
        </ul>
        <p>ELP Design &copy;2015 | All Rights Reserved</p>
      </div>

      <div class="col-sm-6 right-col">
        <h2>Who Am I?</h2>
        <p>I am a huge advocate for non-gmo and organic foods. I enjoy DIY projects, from building or refinishing furniture to creating home decor. I also love gardening, camping and CATS<i class="fa fa-heart-o">.</i></p>
      </div>

    </div><!-- End row -->

  </div><!-- End container -->

</footer><!-- End footer -->
