<!-- ==============================================
FOOTER
=============================================== -->
<footer id="main-footer">

  <div class="container">

    <div class="row">

      <div class="col-sm-6 left-col">
        <h1 class="small-logo">ERICA PARKER<br><span>Graphic Designer</span></h1>
        <ul class="footer-nav">
          <li><a class="scrollto" href="#home">Home</a></li>
          <li><a class="scrollto" href="#services">Services</a></li>
          <li><a class="scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="scrollto" href="#contact">Contact</a></li>
        </ul>
        <p>ELP Design &copy;2015 | All Rights Reserved</p>
      </div>

      <div class="col-sm-6 right-col">
        <h2>Who Am I?</h2>
        <p>I am a huge advocate for our intake of processed foods and making an effort to eat more healthy, whole, organic foods. I also have a major interest in DIY projects, from building furniture to creating home decor.</p>
      </div>

    </div><!-- End row -->

  </div><!-- End container -->

</footer><!-- End footer -->
