<!-- ==============================================
PORTFOLIO
=============================================== -->
<section  id="portfolio">

  <div id="portfolio-header" class="text-center">

    <h1 class="section-title scrollimation scale-in">My <span>works</span><i class="fa fa-lightbulb-o"></i></h1>

    <!--==== Portfolio Filters ====-->
    <div id="filter-works">
      <ul>
        <li class="active">
          <a href="#" data-filter="*">All</a>
        </li>
        <li>
          <a href="#" data-filter=".graphic-design">Graphic Design</a>
        </li>
        <li>
          <a href="#" data-filter=".web-design">Web Design</a>
        </li>
        <li>
          <a href="#" data-filter=".branding">Branding</a>
        </li>
      </ul>
    </div><!--End portfolio filters -->

  </div><!--End portfolio header -->

  <div class="container masonry-wrapper scrollimation fade-in">

    <div id="projects-container">

      <!-- ==============================================
      SINGLE PROJECT ITEM
      =============================================== -->
      <a class="project-item graphic-design" href="" data-images="https://s3.amazonaws.com/ericaparker/CatTriptytch.png,https://s3.amazonaws.com/ericaparker/IMG_9264.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/CatTriptytch-thumb.jpg"  alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">Cat Triptych</h2><!--Project Title -->
          <p>Digital Collage</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">Three Part Collage Series exploring time, space and nature | Photoshop
            <br>
            <br>
            Recognized for the Faculty Recognition Award at the Monmouth University Student Show | 2013</p>
        </div>

      </a>
      <!-- ==============================================
      END PROJECT ITEM
      =============================================== -->

      <a class="project-item graphic-design branding web-design" href="http://www.brickfarmersmarket.com" data-images="https://s3.amazonaws.com/ericaparker/BrickFM-FieldFrontPage.jpg,https://s3.amazonaws.com/ericaparker/BrickFM-Flyer.jpg,https://s3.amazonaws.com/ericaparker/BrickFM-PublicMaterial.jpg,https://s3.amazonaws.com/ericaparker/BrickFM-ToteBagMock.jpg,https://s3.amazonaws.com/ericaparker/BrickFM-FB_Twitter.jpg,https://s3.amazonaws.com/ericaparker/BrickFM-FB-Posts.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/BrickFM_Logo-Print-thumb.jpg" alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">Brick Farmers' Market</h2><!--Project Title -->
          <p>Logo | Social Media | Website | Marketing</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">Complete marketing campaign for grant funded Farmers' Market in Brick Township, New Jersey.</p>
        </div>

      </a><!--End Project Item -->

      <a class="project-item graphic-design branding" href="" data-images="https://s3.amazonaws.com/ericaparker/BWC-Signs.jpg,https://s3.amazonaws.com/ericaparker/BWC-shirt.jpg,https://s3.amazonaws.com/ericaparker/BWC-button.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/BWC-Signs-thumb.jpg"  alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">Bonnie Watson Coleman</h2><!--Project Title -->
          <p>Logo Design | Campaign Materials</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">Logo creation and campaign materials for Bonnie Watson Coleman's Democrat for Congress Campaign, 2014.</p>
        </div>

      </a><!--End Project Item -->

      <a class="project-item graphic-design branding web-design" href="http://www.mainstreetmarlboro.com" data-images="https://s3.amazonaws.com/ericaparker/MSM-Logo.jpg,https://s3.amazonaws.com/ericaparker/MSM-Branding.jpg,https://s3.amazonaws.com/ericaparker/MSM-Social-Mailchimp.jpg,https://s3.amazonaws.com/ericaparker/MSM-website.jpg,https://s3.amazonaws.com/ericaparker/MSM-BrandingGuide.jpg,https://s3.amazonaws.com/ericaparker/MSM-BrandingGuide2.jpg,https://s3.amazonaws.com/ericaparker/MSM-BrandingGuide3.jpg,https://s3.amazonaws.com/ericaparker/MSM-BrandingGuide4.jpg,https://s3.amazonaws.com/ericaparker/MSM-BrandingGuide5.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/MSM-Logo-thumb.jpg"  alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">Main Street Marlboro</h2><!--Project Title -->
          <p>Branding | Website | Marketing</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">Main Street NJ:
A newly-launched hyperlocal news site driven by local advertising and 100% online.
<br>
<br>
- Successfully created, designed and launched the Main Street Marlboro website on a strict deadline
<br>
- Created complete branding with guidelines and posting standards
<br>
- Participant in Montclair State University’s NJ News Commons program</p>
        </div>

      </a><!--End Project Item -->

      <a class="project-item graphic-design" href="" data-images="https://s3.amazonaws.com/ericaparker/AwakeandAway.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/AwakeandAway-thumb.jpg"  alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">Awake &amp; Away</h2><!--Project Title -->
          <p>Digital Collage</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">Digital collage created with the use of various scanned materials and photographs manifested in Photoshop.
            <br>
            The two part series reflects the feeling of being away from someone you truly miss.</p>
        </div>

      </a><!--End Project Item -->

    <a class="project-item graphic-design" href="" data-images="https://s3.amazonaws.com/ericaparker/MM-ad.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/MM-ad-thumb.jpg"  alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">MarketMe</h2><!--Project Title -->
          <p>Advertisement Design</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">Before the company changed names to Direct Development, their name was MarketMe. This was an advertisement created for the company and featured in Community Magazine.</p>
        </div>

      </a><!--End Project Item -->

      <a class="project-item graphic-design branding" href="" data-images="https://s3.amazonaws.com/ericaparker/MU-Review.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/MU-Review-thumb.jpg"  alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">Monmouth Review</h2><!--Project Title -->
          <p>Art Director, 2013</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">I was the Monmouth Review Art Director for the 2013 edition at Monmouth University. My responsibilities included designing the cover and spreads, while also delegating and overseeing tasks for the rest of the review team.</p>
        </div>

      </a><!--End Project Item -->

      <a class="project-item graphic-design branding" href="" data-images="https://s3.amazonaws.com/ericaparker/RemedyWater.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/RemedyWater-thumb.jpg"  alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">Remedy Water</h2><!--Project Title -->
          <p>Concept Product Design</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">Concept product design called Remedy Water, water for your wellness. Similar model to Vitamin Water, however using all natural, non-gmo, organic ingredients.</p>
        </div>

      </a><!--End Project Item -->

      <a class="project-item graphic-design branding" href="" data-images="https://s3.amazonaws.com/ericaparker/DD-Branding-Stationery.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/DD-Branding-Stationery-thumb.jpg" alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">Direct Development, LLC</h2><!--Project Title -->
          <p>Complete Branding</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">Complete branding creation for the company to which I am currently employed, Direct Development LLC.</p>
        </div>

      </a><!--End Project Item -->

      <a class="project-item graphic-design branding" href="" data-images="https://s3.amazonaws.com/ericaparker/AntiqueArtisanFest.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/AntiqueArtisanFest-thumb.jpg"  alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">Keyport Antique &amp; Artisan Festival</h2><!--Project Title -->
          <p>Logo Design</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">Logo creation for the Antique &amp; Artisan Festival located in Keyport, New Jersey. 2015</p>
        </div>

      </a><!--End Project Item -->

      <a class="project-item graphic-design" href="" data-images="https://s3.amazonaws.com/ericaparker/Slanted.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/Slanted-thumb.jpg"  alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">Slanted</h2><!--Project Title -->
          <p>Editorial Design</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">Slanted editorial design featured in the 2015 June edition of Community Magazine.</p>
        </div>

      </a><!--End Project Item -->

      <a class="project-item graphic-design" href="" data-images="https://s3.amazonaws.com/ericaparker/doTerra1.jpg,https://s3.amazonaws.com/ericaparker/doTerra2.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/doTerra2-thumb.jpg"  alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">doTERRA</h2><!--Project Title -->
          <p>Advertisement Design</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">doTERRA advertisement design with two variations.</p>
        </div>

      </a><!--End Project Item -->

      <a class="project-item graphic-design branding" href="" data-images="https://s3.amazonaws.com/ericaparker/Cmag.jpg,https://s3.amazonaws.com/ericaparker/CMag-Invitation-mockup.jpg,https://s3.amazonaws.com/ericaparker/Cmag-mock.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/CMag-Invitation-mockup-thumb.jpg"  alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">Community Magazine</h2><!--Project Title -->
          <p>Complete Branding</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">Two local magazines with a total distribution of 34,000 homes and businesses in Monmouth County. The magazines are , planned and designed 100% in house. Advertising is sold to local small-medium sized businesses and organizations.
            <br>
            <br>
- Created complete successful re-branding of company
<br>
- Collaborating with Creative Director in the creation of the magazine’s editorial design
<br>
- Consistently meeting strict deadlines each month
<br>
- In control of advertisement organization and delegation
<br>
- Formatting and uploading the images for new stories on the Community Magazine website each month
<br>
- Assisted in mentoring interns through their duration with the magazine.</p>
        </div>

      </a><!--End Project Item -->

       <a class="project-item graphic-design" href="" data-images="https://s3.amazonaws.com/ericaparker/TheAnimals2.jpg, https://s3.amazonaws.com/ericaparker/TheAnimals.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/The-Animals2-Thumb.jpg"  alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">The Animals</h2><!--Project Title -->
          <p>Digital Collage</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">Digital collage created in Photoshop explores animal cruelty.</p>
        </div>

      </a><!--End Project Item -->

      <a class="project-item graphic-design" href="" data-images="https://s3.amazonaws.com/ericaparker/EarthDay.jpg">

        <img class="img-responsive project-image" src="https://s3.amazonaws.com/ericaparker/EarthDay-thumb.jpg"  alt=""><!--Project thumb -->

        <div class="hover-mask">
          <h2 class="project-title">Earth Day</h2><!--Project Title -->
          <p>Editorial Design</p><!--Project Subtitle -->
        </div>

        <!--==== Project Preview HTML ====-->

        <div class="sr-only project-description">
          <p class="clearfix">Earth Day spread featured in the 2015 June edition of Community Magazine.</p>
        </div>

      </a><!--End Project Item -->

    </div><!-- End projects -->

  </div><!-- End container -->

  <!-- ==============================================
  PROJECT PREVIEW MODAL
  =============================================== -->
  <div id="project-modal" class="modal fade">

    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>

        <div class="modal-body">
          <div class="container">
            <div class="row modal-container">
              <div class="col-lg-6 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-12 col-offset-sm-0 col-xs-12 col-offset-xs-0">            
                <div class="loader"></div>
                <div class="image-wrapper"></div>            
              </div>
              <div class="col-lg-6 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-12 col-offset-sm-0 col-xs-12 col-offset-xs-0">          
                <h1></h1>
                <div class="project-descr"></div>
                <div class="clearfix"></div>
              </div>
              <div class="col-lg-6 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-12 col-offset-sm-0 col-xs-12 col-offset-xs-0">
                <p class="text-center"><a class="btn btn-theme"><i class="fa fa-external-link"></i>Visit Website</a></p>
              </div>
            </div>
          </div>

        </div><!-- End modal-body -->

      </div><!-- End modal-content -->

    </div><!-- End modal-dialog -->

  </div><!-- End modal -->

</section><!-- End portfolio section -->
