<!-- ==============================================
SKILLS
=============================================== -->
<section id="skills">

  <div class="container">

    <div class="row skills">

      <div class="col-sm-6 col-md-3 text-center">
        <span class="chart" data-percent="95"><span class="percent">95</span></span>
        <h2 class="text-center">Grahpic Design</h2>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <span class="chart" data-percent="70"><span class="percent">70</span></span>
        <h2 class="text-center">Web Design</h2>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <span class="chart" data-percent="90"><span class="percent">90</span></span>
        <h2 class="text-center">Branding</h2>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <span class="chart" data-percent="60"><span class="percent">60</span></span>
        <h2 class="text-center">HTML / CSS</h2>
      </div>

    </div><!--End row -->

  </div><!--End container -->

</section><!--End skills section -->
